@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --radius-md: 0.375rem;
    --shadow-textarea: #00000026 0px 1px 2px 0px inset, #00000014 1px -2px 2px 0px inset;
    --page-max-width: 1920px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Custom components styles will be added here if needed */
  .Button_Button__u2RFO {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1;
    border-radius: var(--radius-md);
    padding: 12px;
    background: #f4f4f4;
    box-shadow:
      inset 1px 1px 1px 0 rgb(255, 255, 255), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.15), .444584px .444584px .628737px -1px rgba(
        0,
        0,
        0,
        0.26
      ), 1.21072px 1.21072px 1.71222px -1.5px rgba(0, 0, 0, 0.247), 2.6583px 2.6583px 3.75941px -2.25px rgba(
        0,
        0,
        0,
        0.23
      ), 5.90083px 5.90083px 8.34503px -3px rgba(0, 0, 0, 0.192), 10px 10px 21.2132px -3.75px rgba(0, 0, 0, 0.056), -.5px -.5px 0 0 rgb(
        0 0 0 /
        5%
      );
    transition: box-shadow .3s ease;
    cursor: pointer;
    user-select: none;
  }

  .Button_Button__u2RFO[data-block] {
    width: 100%;
  }

  .Button_Button__u2RFO[data-disabled] {
    cursor: not-allowed;
  }

  .Button_Button__u2RFO:active,
  .Button_Button__u2RFO[data-selected] {
    box-shadow:
      inset .5px .5px 1px #fff, inset -.5px -.5px 1px #00000026, .222px .222px .314px -.5px #0003, .605px .605px .856px -1px #0000002e, 1.329px 1.329px 1.88px -1.5px #00000040, 2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026, -.5px -.5px 0 0 rgb(
        0 0 0 /
        10%
      );
  }

  .Button_Button__u2RFO[data-color="primary"] {
    color: #fff;
    background: #ff5722;
    box-shadow:
      inset 1px 1px 1px #ffffffd4, inset -1px -1px 1px #0000003b, .444584px .444584px .628737px -1px #00000042, 1.21072px 1.21072px 1.71222px -1.5px #0000003f, 2.6583px 2.6583px 3.75941px -2.25px #0000003b, 5.90083px 5.90083px 8.34503px -3px #00000031, 10px 10px 21.2132px -3.75px #0000003b, -.5px -.5px #952b0087;
  }

  .Button_Button__u2RFO[data-color="primary"]:active,
  .Button_Button__u2RFO[data-color="primary"][data-selected] {
    box-shadow:
      inset .5px .5px 1px #fff, inset -.5px -.5px 1px #0000005b, .222px .222px .314px -1px #0003, .605px .605px .856px -1px #0000002e, 1.329px 1.329px 1.88px -1.5px #00000040, 2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026, -.5px -.5px #00000022;
  }

  .Button_Button__u2RFO[data-color="secondary"] {
    color: #fff;
    background: #222;
    box-shadow:
      inset 1px 1px 1px #ffffffb3, inset -1px -1px 1px #0000003b, .444584px .444584px .628737px -.75px #00000042, 1.21072px 1.21072px 1.71222px -1.5px #0000003f, 2.6583px 2.6583px 3.75941px -2.25px #0000003b, 5.90083px 5.90083px 8.34503px -3px #00000031, 14px 14px 21.2132px -3.75px #00000033, -.5px -.5px #000000af;
  }

  .Button_Button__u2RFO[data-color="secondary"]:active,
  .Button_Button__u2RFO[data-color="secondary"][data-selected] {
    box-shadow:
      inset .5px .5px 1px #ffffffb3, inset -.5px -.5px 1px #0000005b, .222px .222px .314px -1px #0003, .605px .605px .856px -1px #0000002e, 1.329px 1.329px 1.88px -1.5px #00000040, 2.95px 2.95px 4.172px -2px #0000001a, 4px 4px 3px -2.5px #00000026, -.5px -.5px #000000ac;
  }

  .Button_Button__u2RFO[data-color="tertiary"] {
    color: #fff;
    background: #6a6a6a;
    box-shadow:
      inset 1px 1px 1px #ffffffba, inset -1px -1px 1px #0000003b, .444584px .444584px .628737px -1px #00000042, 1.21072px 1.21072px 1.71222px -1.5px #0000003f, 2.6583px 2.6583px 3.75941px -2.25px #0000003b, 5.90083px 5.90083px 8.34503px -3px #0000004f, 12px 12px 21.2132px -3.75px #0000001a, -.5px -.5px #0000006b;
  }

  .Button_Button__u2RFO[data-color="tertiary"]:active,
  .Button_Button__u2RFO[data-color="tertiary"][data-selected] {
    box-shadow:
      inset .5px .5px 1px #ffffffba, inset -.5px -.5px 1px #0000005b, .222px .222px .314px -1px #0003, .605px .605px .856px -1px #0000002e, 1.329px 1.329px 1.88px -1.5px #00000040, 2.95px 2.95px 4.172px -2px #0000001a, 4px 4px 3px -2.5px #00000026, -.5px -.5px #0000007b;
  }

  .Button_Button__u2RFO[data-color="neutral"] {
    color: #fff;
    background: #aaa;
    box-shadow:
      inset 1px 1px 1px #ffffffc2, inset -1px -1px 1px #0000003b, .444584px .444584px .628737px -1px #00000042, 1.21072px 1.21072px 1.71222px -1.5px #0000003f, 2.6583px 2.6583px 3.75941px -2.25px #0000003b, 5.90083px 5.90083px 8.34503px -3px #00000031, 10px 10px 21.2132px -3.75px #0000000e, -.5px -.5px #00000012;
  }

  .Button_Button__u2RFO[data-color="neutral"]:active,
  .Button_Button__u2RFO[data-color="neutral"][data-selected] {
    box-shadow:
      inset .5px .5px 1px #fff, inset -.5px -.5px 1px #0000005b, .222px .222px .314px -1px #0003, .605px .605px .856px -1px #0000002e, 1.329px 1.329px 1.88px -1.5px #00000040, 2.95px 2.95px 4.172px -2px #0000001a, 2.5px 2.5px 3px -2.5px #00000026, -.5px -.5px #00000022;
  }

  .Button_LED__yt_Oj {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 2px #0000001c, 0 1px 0 0 #ffffff30;
    transition: background-color .15s ease;
  }

  .Button_Button__u2RFO[data-selected] .Button_LED__yt_Oj {
    background: var(--primary);
  }

  .Footer_Footer__ElFDz {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    border-top: 1px solid transparent;
    background: #ececec70;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    font-size: 1.125rem;
    transition: border .2s ease;
  }

  [data-scrollable="true"] .Footer_Footer__ElFDz {
    border-top: 1px solid #fff;
  }

  @keyframes Footer_wave__VZ9GE {
    0%,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .Footer_animate-wave__7QS_7 {
    animation: Footer_wave__VZ9GE 1.2s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    opacity: 1;
  }

  .Switcher_Track__RYRxz {
    position: relative;
    width: 42px;
    height: 25px;
    border-radius: 100px;
    box-shadow: inset 0 1px 2px #00000026, 0 1px 0 0 #ffffff40;
    background: rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: background-color .25s ease;
    user-select: none;
  }

  .Switcher_Track__RYRxz[data-state="checked"] {
    background: var(--primary);
  }

  .Switcher_Thumb__Au9Bn {
    display: block;
    width: 21px;
    height: 21px;
    transform: translateX(2px);
    border-radius: 100%;
    transition: transform .25s ease;
    will-change: transform;
    background: #f4f4f4;
    box-shadow:
      inset 1px 1px 1px #fff, inset -1px -1px 0 #0000001a, .444584px .444584px .628737px -.75px #00000042, 1.21072px 1.21072px 1.71222px -1.5px #0000003f, 2.6583px 2.6583px 3.75941px -2.25px #0000003b, 5.90083px 5.90083px 8.34503px -3px #00000031, 10px 10px 21.2132px -3.75px #0000000e;
  }

  .Switcher_Track__RYRxz[data-state="checked"] .Switcher_Thumb__Au9Bn {
    transform: translateX(19px);
  }
}

/* Custom breakpoint for voice buttons */
@media (min-width: 1280px) {
  .voice-buttons-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(94px, 1fr));
    gap: 0.5rem;
  }
}

